<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="FORCServerSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClientSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CBViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FORCServerSupport.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </FORCServerSupport.Properties.Settings>
        <ClientSupport.Properties.Settings>
            <setting name="HardwareSurveyPerformed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </ClientSupport.Properties.Settings>
        <CBViewModel.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_DisableFastDownload" serializeAs="String">
                <value>False</value>
            </setting>
        </CBViewModel.Properties.Settings>
    </userSettings>
</configuration>